.c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  border-radius: var(--c-border-radius);
  transition:
    background-color 0.3s,
    color 0.3s;

  &:disabled {
    opacity: var(--c-disabled-opacity);
    pointer-events: none;
    cursor: default;
  }
}

.c-button--sm {
  padding: 0.375rem 0.625rem;
  font-size: 0.75rem;
  border-radius: var(--c-border-radius-md);

  .c-button__icon {
    font-size: 1rem;
  }

  &.c-button--icon-only {
    width: 2rem;

    &.c-button--rounded {
      height: 2rem;
    }
  }
}

.c-button--lg {
  padding: 0.625rem 0.875rem;
  font-size: 1rem;

  .c-button__icon {
    font-size: 1.5rem;
  }

  &.c-button--icon-only {
    width: 3rem;

    &.c-button--rounded {
      height: 3rem;
    }
  }
}

.c-button--icon-only {
  width: 2.5rem;
  gap: 0;
  padding: 0.5rem 0;
  aspect-ratio: 1/1;

  &.c-button--rounded {
    border-radius: 50%;
    height: 2.5rem;
  }
}

.c-button--primary {
  &.c-button--filled {
    color: var(--c-button-primary-filled-color);
    background-color: var(--c-button-primary-filled-back);
    font-weight: 500;

    &:hover {
      background-color: var(--c-button-primary-filled-back-hover);
    }
  }

  &.c-button--outlined {
    color: var(--c-button-primary-outlined-color);
    border: 1px solid var(--c-button-primary-outlined-border-color);

    &:hover {
      background-color: var(--c-button-primary-outlined-back-hover);
    }
  }

  &.c-button--text {
    color: var(--c-button-primary-text-color);

    &:hover {
      background-color: var(--c-button-primary-text-hover-background);
    }
  }
}

.c-button--secondary {
  &.c-button--filled {
    color: var(--c-button-secondary-filled-color);
    background-color: var(--c-button-secondary-filled-back);

    &:hover {
      background-color: var(--c-button-secondary-filled-back-hover);
    }
  }

  &.c-button--outlined {
    color: var(--c-button-secondary-outlined-color);
    border: 1px solid var(--c-button-secondary-outlined-border-color);

    &:hover {
      background-color: var(--c-button-secondary-outlined-back-hover);
    }
  }

  &.c-button--text {
    color: var(--c-button-secondary-text-color);

    &:hover {
      background-color: var(--c-button-secondary-text-hover-background);
    }
  }
}

.c-button--contrast {
  &.c-button--filled {
    color: var(--c-button-contrast-filled-color);
    background-color: var(--c-button-contrast-filled-back);
    font-weight: 500;

    &:hover {
      background-color: var(--c-button-contrast-filled-back-hover);
    }
  }

  &.c-button--outlined {
    color: var(--c-button-contrast-outlined-color);
    border: 1px solid var(--c-button-contrast-outlined-border-color);

    &:hover {
      background-color: var(--c-button-contrast-outlined-hover-background);
    }
  }

  &.c-button--text {
    color: var(--c-button-contrast-text-color);

    &:hover {
      background-color: var(--c-button-contrast-text-hover-background);
    }
  }
}

.c-button--rounded {
  border-radius: var(--c-border-radius-full);
}

.c-button--raised {
  box-shadow: var(--c-button-raised-shadow);
}

.c-button--vertical {
  flex-direction: column;
  gap: 0.2rem;
}

.c-button__icon {
  font-size: 1.25rem;
  &--left {
    order: -1;
  }
  &--right {
    order: 1;
  }
  &--top {
    order: -1;
  }
  &--bottom {
    order: 1;
  }
}

.c-button__badge {
  order: 2;
}
