.c-tablist {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.c-tablist__content {
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overscroll-behavior: contain auto;
}

.c-tablist__tabs {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: var(--c-tabs-tablist-background);
  min-width: max-content;
  width: 100%;
  min-height: max-content;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: var(--c-tabs-tablist-border-color);
    width: 100%;
  }
}

.c-tablist--vertical {
  .c-tablist__content {
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: auto contain;
  }
  .c-tablist__tabs {
    flex-direction: column;

    &::after {
      border-width: 0 2px 0 0;
      height: 100%;
      right: 0;
      top: 0;
      left: auto;
    }
  }
  .c-tablist__active-bar {
    border-width: 0 2px 0 0;
  }
  .c-tablist__navigator {
    height: 2rem;
    width: 100%;
    svg {
      transform: rotate(90deg);
    }
  }
  .c-tablist__navigator-next {
    inset-block-end: 0;
  }
  .c-tablist__navigator-prev {
    inset-block-start: 0;
  }
}

.c-tablist__active-bar {
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: var(--c-tabs-active-bar-background);
  position: absolute;
  z-index: 1;
  display: block;
  inset-block-end: 0;
  inset-inline-end: 0;
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.c-tablist__navigator {
  position: absolute;
  z-index: 2;
  flex-shrink: 0;
  height: 100%;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-tabs-nav-button-background);
  color: var(--c-tabs-nav-button-color);
  box-shadow: 0 0 10px 10px var(--c-tabs-nav-button-shadow-color);
  transition:
    color 0.2s ease,
    box-shadow 0.3s ease;

  &:hover {
    color: var(--c-tabs-nav-button-hover-color);
  }

  &:focus-visible {
    z-index: 1;
    box-shadow: none;
    outline: 1px solid var(--c-tabs-nav-button-focus-ring-color);
    outline-offset: -1px;
  }
}

.c-tablist__navigator-next {
  inset-inline-end: 0;
}

.c-tablist__navigator-prev {
  inset-inline-start: 0;
}
