@use './style/reset';
@use './style/story';

:root {
  --main-color: #ffffff;
  --ground-back: #171717;
  --prime-color: #bea87b;
  --secondary-text-color: #a1a1aa;
  --invalid-color: #f87171;
  --prime-color-light: color-mix(in srgb, var(--prime-color) 100%, #fff 30%);
  --prime-color-dark: color-mix(in srgb, var(--prime-color) 90%, #000 100%);
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-VariableFont_wght\ .woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

html {
  font-size: 16px;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  overflow-y: auto;
  color: var(--main-color);
  background-color: #0e0e0e;
}
