// TABS
.c-tabs {
  display: flex;
  flex-direction: column;
}
.c-tabs--vertical {
  flex-direction: row;
}

// TABLIST
.c-tablist {
  display: flex;
  position: relative;
  overflow: hidden;
}

.c-tablist__content {
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overscroll-behavior: contain auto;
}

.c-tablist__tabs {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: var(--tabs-tablist-background);
  width: max-content;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: var(--tabs-tablist-border-color);
    width: 100%;
  }
}

.c-tablist--vertical {
  .c-tablist__content {
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: auto contain;
  }
  .c-tablist__tabs {
    flex-direction: column;

    &::after {
      border-width: 0 2px 0 0;
      height: 100%;
      right: 0;
      top: 0;
      left: auto;
    }
  }
  .c-tablist__active-bar {
    border-width: 0 2px 0 0;
  }
  .c-tablist__navigator {
    height: 2rem;
    width: 100%;
    svg {
      transform: rotate(90deg);
    }
  }
  .c-tablist__navigator-next {
    inset-block-end: 0;
  }
  .c-tablist__navigator-prev {
    inset-block-start: 0;
  }
}

.c-tablist__active-bar {
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: var(--tabs-active-bar-background);
  position: absolute;
  z-index: 1;
  display: block;
  inset-block-end: 0;
  inset-inline-end: 0;
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.c-tablist__navigator {
  position: absolute;
  z-index: 2;
  flex-shrink: 0;
  height: 100%;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tabs-nav-button-background);
  color: var(--tabs-nav-button-color);
  box-shadow: 0 0 10px 10px var(--tabs-nav-button-shadow-color);
  transition:
    color 0.2s ease,
    box-shadow 0.3s ease;

  &:hover {
    color: var(--tabs-nav-button-hover-color);
  }

  &:focus-visible {
    z-index: 1;
    box-shadow: none;
    outline: 1px solid var(--tabs-nav-button-focus-ring-color);
    outline-offset: -1px;
  }
}

.c-tablist__navigator-next {
  inset-inline-end: 0;
}

.c-tablist__navigator-prev {
  inset-inline-start: 0;
}

// TAB
.c-tab {
  flex-shrink: 0;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: var(--tabs-tab-background);
  color: var(--tabs-tab-color);
  padding: 1rem 1rem;
  // font-weight: 600;
  transition:
    background-color 0.3s,
    color 0.3s;
  outline: none;
  z-index: 1;

  &:not(.is--disabled, .is--active):hover {
    color: var(--tabs-tab-hover-color);
  }

  &.is--active {
    background-color: var(--tabs-tab-active-background);
    color: var(--tabs-tab-active-color);
  }

  &.is--disabled {
    pointer-events: none;
    opacity: var(--disabled-opacity);
  }

  &:not(.is--disabled):focus-visible {
    z-index: 1;
    box-shadow: none;
    outline: 1px solid var(--tabs-tab-focus-ring-color);
    outline-offset: -1px;
  }
}

// TABPANELS
.c-tabpanels {
  background-color: var(--tabs-tabpanel-background);
  color: var(--tabs-tabpanel-color);
  padding: 1rem 1rem;
  outline: none;
}

// TABPANEL
.c-tabpanel {
  &:focus-visible {
    box-shadow: none;
    outline: 1px solid var(--tabs-tabpanel-focus-ring-color);
    outline-offset: 2px;
  }
}
