@use '@/styles/mixins.scss' as *;

.c-select {
  width: 14rem;
  font-family: var(--font-family-base);
  position: relative;
  display: flex;
  align-items: center;
  min-height: 2.25rem;
  padding: 0.4375rem 0.6563rem;
  border: 1px solid var(--select-border-color);
  background-color: var(--select-background);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition:
    border-color 0.3s ease,
    background-color 0.3s ease;

  &:focus-within:not(.is--disabled) {
    outline: none;
    border-color: var(--select-focus-border-color);
  }

  &:hover:not(.is--disabled, :focus-within) {
    border-color: var(--select-hover-border-color);
  }

  &__value {
    flex: 1;
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--select-color);
    font-size: 0.875rem;
    line-height: 1.25rem;

    &--placeholder {
      color: var(--select-placeholder-color);
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
    align-self: stretch;
  }

  &__tag {
    display: inline-flex;
    align-items: center;
    padding: 0.3125rem 0.5rem;
    background-color: var(--select-tag-background);
    color: var(--select-tag-color);
    border-radius: var(--border-radius-sm);
    font-size: 0.75rem;
    line-height: 1;
    gap: 0.25rem;

    &__remove {
      cursor: pointer;
      opacity: 0.7;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-left: 0.5rem;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    color: var(--select-text-muted);
    transition: all 0.2s ease;

    &--clear {
      cursor: pointer;

      &:hover {
        color: var(--select-color);
      }
    }

    &--dropdown {
      transition: transform 0.3s ease;
    }
  }

  &__search {
    padding: 0.4375rem 0.4375rem 0.1875rem;

    &-input {
      width: 100%;
      font-size: 0.875rem;
    }
  }

  &__container {
    padding: 0.25rem;
    max-height: 12rem;
    overflow: hidden auto;
    @include Scroll(5px, 5px);
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
  }

  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4375rem 0.6563rem;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: var(--border-radius-md);
    transition: color 0.3s ease;
    background-color: var(--select-option-background);

    &.is--selected:not(.c-select__option--checkmark) {
      font-weight: 500;
      color: var(--select-option-active-color);
    }

    &.is--focused {
      background-color: var(--select-option-focus-background);
    }

    &.is--disabled {
      opacity: 0.7;
      cursor: not-allowed;
      filter: brightness(0.7);
    }
  }

  &__option__checkmark {
    flex-shrink: 0;
    font-size: 1.25rem;
    color: var(--select-option-active-color);
    stroke-width: 0.5px;
    stroke: var(--select-option-active-color);
  }

  &__no-options {
    padding: 1rem 0.75rem;
    text-align: center;
    font-size: 0.875rem;
    color: var(--select-text-muted);
  }

  // Variants
  &.c-select--filled {
    background-color: var(--select-filled-background);
    border-color: transparent;

    & .c-select__tag {
      background-color: var(--select-filled-tag-background);
    }

    &.is--disabled {
      .c-select__tag {
        background-color: var(--select-filled-disabled-tag-background);
      }
    }

    &.is--invalid:not(.is--disabled) {
      &:focus-within:not(.is--disabled) {
        border-color: var(--select-focus-border-color);
      }

      &:hover:not(.is--disabled, :focus-within) {
        border-color: var(--select-hover-border-color);
      }
    }
  }

  // States
  &.is--open {
    .c-select__icon--dropdown {
      transform: rotate(180deg);
    }
  }

  &.is--disabled {
    background-color: var(--select-disabled-background);
    cursor: not-allowed;

    & .c-select__value {
      color: var(--select-disabled-color);
    }

    & .c-select__tag {
      color: var(--select-disabled-color);
    }
  }

  &.is--invalid:not(.is--disabled) {
    border-color: var(--select-invalid-border-color);

    &:focus-within:not(.is--disabled) {
      border-color: var(--select-focus-border-color);
    }

    &:hover:not(.is--disabled, :focus-within) {
      border-color: var(--select-hover-border-color);
    }

    & .c-select__value {
      color: var(--select-invalid-color);
    }
  }

  &.is--loading:not(.is--disabled) {
    cursor: wait;
  }

  &.c-select--full {
    width: 100%;
  }

  &.c-select--multiple:not(:has(.c-select__value--placeholder)) {
    padding: 0.3125rem 0.375rem;
  }

  // Sizes
  &--sm {
    min-height: 1.875rem;
    padding: 0.375rem 0.5rem;

    .c-select__value {
      font-size: 0.75rem;
      line-height: 1rem;
    }

    .c-select__icon {
      font-size: 0.875rem;
    }

    .c-select__tag {
      font-size: 0.625rem;
      padding: 0.25rem 0.375rem;
    }

    &.c-select--multiple:not(:has(.c-select__value--placeholder)) {
      padding: 0.25rem 0.375rem;
    }
  }

  &--lg {
    min-height: 2.5rem;
    padding: 0.5rem 0.75rem;

    .c-select__value {
      font-size: 1rem;
      line-height: 1.25rem;
    }

    .c-select__icon {
      font-size: 1rem;
    }

    .c-select__tag {
      font-size: 0.875rem;
      padding: 0.375rem 0.5rem;
      gap: 0.3125rem;
    }
  }
}
