:root {
  --main-color: #ffffff;
  --ground-back: #171717;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght\ .woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

html {
  font-size: 16px;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--main-color);
  background-color: #000;
}
