@use '@/styles/mixins.scss' as *;

.c-popup__trigger {
  display: inline-block;
  width: fit-content;
}

.c-popup {
  position: absolute;
  background-color: var(--c-popup-background);
  box-shadow: 0 0 15px var(--c-popup-shadow-color);
  border: 1px solid var(--c-popup-border-color);
  border-radius: var(--c-border-radius);
  display: flex;
}

.c-popup-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.c-popup__body {
  flex-grow: 1;
  overflow: auto;
  @include Scroll(5px, 5px);
}

.c-popup__arrow {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--c-popup-background);
  border: 1px solid var(--c-popup-border-color);
  z-index: -1;
  pointer-events: none;
}

.c-popup--bottom .c-popup__arrow {
  top: 0;
  border-right: none;
  border-bottom: none;
  transform: translateY(calc(-50% - 1px)) rotate(45deg);
}

.c-popup--top .c-popup__arrow {
  bottom: 0;
  border-left: none;
  border-top: none;
  transform: translateY(calc(50% + 1px)) rotate(45deg);
}

.c-popup--left .c-popup__arrow {
  right: 0;
  border-left: none;
  border-bottom: none;
  transform: translateX(calc(50% + 1px)) rotate(45deg);
}

.c-popup--right .c-popup__arrow {
  left: 0;
  border-right: none;
  border-top: none;
  transform: translateX(calc(-50% - 1px)) rotate(45deg);
}
